*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #111111;
}
.nav-container{
    margin-top: 2vh;
    margin-bottom: 10vh;
    margin-inline: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu{
    margin-top: 2px;
    color: #f3f3f3;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.nav-menu-items-active-menu{
    background-color: rgb(66, 115, 199);
    border-radius: 25px;
    padding: 7px 15px;
}
.nav-menu-items{
    background-color: transparent;
    border-radius: 25px;
    padding: 7px 15px;
}
.nav-menu-items:hover{
    background-color: rgb(66, 115, 199);
}
.nav-menu > a{
    text-decoration: none;
}
/* list-grid section */
.panel-container{
    height: 100%;
    margin-inline: 5vw;
}
.panel-buttons{
    display: flex;
    justify-content: space-around;
    height: 15%;
    margin-bottom: 10px;
    width: 100%;
}
.panels{
    height: 85%;
    /* display: none; */
}


.panel-buttons > button{
    background-color: #111111;
    outline: none;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
}


/* grid-view */
#grid-view{
    /* display: grid; */
    width: 100%;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(auto, 1fr); */
    gap: 25px;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    justify-content: center;
    
}

@media only screen and (max-width:850px) {
    body > header > nav > .nav-container{
        flex-direction: column !important;
        justify-content: start;
        align-items: start;
    }

    .nav-container > .nav-menu{
        margin: 0;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        margin-top: 10px;
    }
    .nav-container > .nav-menu > .nav-menu-items{
        margin: 0;
    }
}

/* cards */
.cards{
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    margin: 5px 15px;
    padding: 1rem;
    background-color: #1b1b1b;
}
.card-header{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.card-img{
    width: 50px;
    margin-right: 10px;
}

.price_change{
    padding: 5px 15px;
    border : 2px solid lightgreen;
    border-radius: 25px;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 10px;
}

.curret-price{
    padding: 1rem;
    color: lightgreen;
    margin-bottom: 10px;
}


/* list-items */
#list-view{
    width: 100%;
    margin-left: 3.5vw;
}
#list-view > table{
    width: 100%;
}

#list-view > table > tr > td{
    margin-inline: 10px;
}